---
import PageHeader from '../components/page-header.astro';
import SectionHeader from '../components/section-header.astro';
import Section from '../components/Section.astro';
import SiteLayout from '../layouts/SiteLayout.astro';
import Youth from '../assets/images/youth.jpg';
import { Icon } from 'astro-icon/components';
import Callout from '../components/callout.astro';
import EngagementCallout from '../components/engagement-callout.astro';
import Footer from '../components/Footer.astro';
---

<SiteLayout>
  <PageHeader section="Jugend" subSection="Youth with Perspective" />
  <Section>
    <div class="grid md:grid-cols-2 gap-12">
      <img src={Youth.src} alt="" />
      <div class="space-y-6">
        <SectionHeader title="Youth with Perspective" alignment="left" />
        <div class="flex flex-col gap-4 -mt-4 font-light leading-loose">
          <p>
            Das Leben kann schwierig sein, wenn man kein klares Ziel hat. Ohne
            eine Richtung fühlt man sich leicht verloren oder unsicher. Aus
            diesem Grund haben wir Youth with Perspective ins Leben gerufen –
            einen Raum für junge Menschen, die zusammenzukommen, um die großen
            Fragen des Lebens zu erforschen und den wahren Sinn ihrer Reise zu
            entdecken.
          </p>
          <p>
            Youth with Perspective ist mehr als nur ein Forum – es ist eine
            Gemeinschaft, in der junge Menschen Antworten auf Fragen finden
            können wie:
          </p>
          <ul class="list-disc list-inside px-4">
            <li>Wer bin ich?</li>
            <li>Was ist der Sinn meines Lebens?</li>
            <li>Wie kann ich mein Potenzial entdecken und ausschöpfen?</li>
            <li>Was sind meine Potenziale und Ressourcen?</li>
            <li>Welche Ressourcen und Stärken trage ich in mir?</li>
            <li>Welche Möglichkeiten stehen mir derzeit zur Verfügung?</li>
            <li>
              Wie kann ich einen positiven Einfluss auf die Welt um mich
              herumhaben?
            </li>
          </ul>
          <p>
            Wir glauben, dass das Leben reicher wird, wenn es mit anderen
            geteilt wird, die eine ähnliche Vision haben. Deshalb treffen wir
            uns als Gruppe, lernen voneinander, ermutigen uns gegenseitig und
            wachsen zusammen. Indem wir uns gegenseitig unterstützen, wollen wir
            in jedem Bereich unseres Lebens unser volles Potenzial ausschöpfen
            und die Welt verändern.
          </p>
          <p>
            <span class="text-secondary">Mache mit!</span> Werde <span
              class="font-semibold">jeden 3. Samstag im Monat</span
            > Teil von Youth with Perspective. Lasst uns gemeinsam den Sinn des Lebens
            erforschen, unseren Glauben stärken und uns gegenseitig inspirieren,
            zielgerichtet zu leben.
          </p>

          <div class="details -mt-2">
            <div class="flex gap-2 items-center text-secondary">
              <Icon name="mdi:location-radius-outline" />
              <span>Rütlistraße 18</span>
              <span class="">13407, Berlin</span>
            </div>
            <div class="flex gap-2 items-center text-secondary">
              <Icon name="mdi:clock-time-four-outline" />
              <span>Jeden 3. Samstag im Monat,</span>
              <span>16:00 - 17:30</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </Section>
  <Callout text="Komm und entdecken mit uns den Sinn des Lebens." />
  <EngagementCallout />
  <Footer />
</SiteLayout>
