---
import EngagementCallout from '../components/engagement-callout.astro';
import Footer from '../components/Footer.astro';
import PageHeader from '../components/page-header.astro';
import Section from '../components/Section.astro';
import SiteLayout from '../layouts/SiteLayout.astro';
import Gorlitz from '../assets/images/christmas/gorlitz.png';
import Gorlitz2 from '../assets/images/christmas/gorlitz-2.jpeg';
import Gorlitz3 from '../assets/images/christmas/gorlitz-3.jpeg';

const projects = [
  {
    title: 'Weihnachtsaktion 2024',
    description: [
      'Seit 2016 veranstaltet GeTu Prospects e.V. jährlich eine Weihnachtsausgabe-Aktion in Berlin, um der obdachlosen Bevölkerung der Stadt Unterstützung und Weihnachtsfreude zu bieten. Auch in diesem Jahr fand die Aktion am 26. Dezember 2024 statt. Das Ziel war es, die Liebe Christi weiterzugeben und den Bedürftigen sowohl physische als auch spirituelle Nahrung anzubieten. Im Laufe des Tages konnte das Team insgesamt 150 obdachlosen Personen warmes Essen anbieten. Die Resonanz aus der Gemeinschaft war sehr positiv, mit vielen Freiwilligen, die ihre Dankbarkeit für die Möglichkeit zum Mitmachen ausdrückten.',
      'Basierend auf dem Feedback der Veranstaltung erwägt GeTu Prospects e.V., die Weihnachtsausgabe-Aktion zur jährlichen Tradition zu machen und die Reichweite und Auswirkungen zu erweitern. Die Organisation untersucht auch Möglichkeiten, die laufende Unterstützung und Gemeinschaftsbildung für Berlins obdachlose Bevölkerung über die Weihnachtszeit hinaus zu fördern. Insgesamt war die Aktion 2024 ein großer Erfolg, der 150 Bedürftigen konkrete Hilfe bot und die Bindungen innerhalb der Berliner Gemeinschaft stärkte.',
    ],

    images: [
      {
        src: Gorlitz.src,
        alt: 'Weihnachtsaktion Görlitzer Park',
      },
      {
        src: Gorlitz2.src,
        alt: 'Weihnachtsaktion',
      },
      {
        src: Gorlitz3.src,
        alt: 'Weihnachtsaktion',
      },
    ],
  },
];
---

<SiteLayout>
  <PageHeader section="Projekte" subSection="Unsere ehrenamtliche Arbeit" />
  <Section>
    {
      projects.map((project) => (
        <div class="rounded-sm px-6 py-12 shadow-[2px_3.464px_40px_0px_rgba(14,5,1,0.04)] flex flex-col gap-6">
          <h2 class="text-3xl text-teal-950 font-bold">{project.title}</h2>
          <div class="grid md:grid-cols-3 gap-4">
            {project.images.map((image) => (
              <img src={image.src} alt={image.alt} class="rounded-sm" />
            ))}
          </div>
          <div class="leading-loose flex flex-col gap-3 font-light">
            {project.description.map((desc) => (
              <p>{desc}</p>
            ))}
          </div>
        </div>
      ))
    }
  </Section>
  <EngagementCallout />
  <Footer />
</SiteLayout>
