---
import getuLogo from '../assets/images/getu-logo.png';
---

<footer class="bg-[var(--color-primary)] py-20 lg:py-24">
  <div class="container mx-auto px-6">
    <!-- Top Section with Logo and CTA -->
    <div
      class="flex flex-col lg:flex-row justify-between items-start mb-20 lg:mb-28 border-b border-[var(--tp-border-1)] pb-20"
    >
      <!-- Logo & Message -->
      <div class="flex mb-12 lg:mb-0 max-w-2xl">
        <!-- Logo Box -->
        <div
          class="flex-shrink-0 w-16 h-16 lg:w-20 lg:h-20 bg-white flex items-center justify-center mr-8 p-2"
        >
          <img
            src={getuLogo.src}
            alt="GeTu Prospects"
            class="w-full h-full object-contain"
          />
        </div>

        <!-- Divider Line -->
        <div class="hidden lg:block w-px h-20 bg-[var(--tp-border-1)] mx-8">
        </div>

        <!-- Headline -->
        <div>
          <h2
            class="text-white text-4xl lg:text-5xl font-bold mb-4 font-manrope leading-tight"
          >
            Engagieren <span class="font-normal"
              >Sie sich als freiwilliger für eine gemeinsame, strahlende</span
            > Zukunft!
          </h2>
        </div>
      </div>

      <!-- CTA Button -->
      <div class="ml-0 lg:ml-6 self-start">
        <a
          href="/kontakt"
          class="inline-block bg-[var(--color-secondary)] text-white py-4 px-8 font-medium tracking-wide hover:bg-opacity-90 transition-all duration-300 hover:translate-y-[-2px]"
        >
          JETZT MITMACHEN
        </a>
      </div>
    </div>

    <!-- Partners Section -->
    <!-- Add this right after the "Engagieren Sie sich" section -->
    <div class="mb-20 lg:mb-28 border-b border-[var(--tp-border-1)] pb-20">
      <h3 class="text-white text-2xl font-bold mb-10 font-manrope">
        Unsere Partner
      </h3>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-x-12 gap-y-10">
        <!-- Via Movement Partner -->
        <div class="flex items-center">
          <div
            class="bg-white/5 p-6 rounded mr-6 w-24 h-24 flex items-center justify-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 160 161"
              fill="none"
              class="w-full h-full"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M0 80.1679C0 35.9833 35.8153 0.167969 80 0.167969C124.168 0.167969 160 35.9833 160 80.1679C160 124.353 124.185 160.168 80 160.168C35.8153 160.168 0 124.353 0 80.1679Z"
                fill="#151416"></path>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M47.4421 124.61H49.7481V113.241H46.7487L44.604 121.465L42.4592 113.241H39.4598V124.61H41.7497V121.53L41.5401 116.789L43.8138 124.61H45.378L47.6517 116.789L47.4421 121.53V124.61ZM22.7374 46.4805L39.6534 101.824H50.7156L67.7928 46.4805H55.7146L45.2974 83.989L34.6705 46.4805H22.7374ZM59.988 123.497C60.7136 122.659 61.0684 121.481 61.0684 119.949V117.966C61.0523 116.402 60.6814 115.192 59.9557 114.338C59.2301 113.483 58.2625 113.048 56.9725 113.048C55.6824 113.048 54.6826 113.499 53.9569 114.37C53.2313 115.257 52.8765 116.466 52.8765 118.031V119.982C52.8926 121.498 53.2635 122.659 53.9892 123.497C54.7148 124.336 55.7146 124.755 56.9886 124.755C58.2625 124.755 59.2623 124.336 59.988 123.497ZM63.2776 113.241L66.535 124.61H68.9378L72.2113 113.241H69.6473L67.7283 121.481L65.8255 113.241H63.2776ZM85.6441 46.4805H74.2593V101.824H85.6441V46.4805ZM74.743 124.61H81.274V122.723H77.049V119.708H80.629V117.853H77.049V115.16H81.2579V113.241H74.743V124.61ZM92.0621 124.61H94.3681V113.241H91.3687L89.224 121.465L87.0793 113.241H84.0799V124.61H86.3697V121.53L86.1601 116.789L88.4338 124.61H89.998L92.2718 116.789L92.0621 121.53V124.61ZM97.69 124.61H104.221V122.723H99.996V119.708H103.576V117.853H99.996V115.16H104.205V113.241H97.69V124.61ZM112.687 124.61H114.993V113.241H112.703V120.707L109.333 113.241H107.043V124.61H109.333V117.16L112.687 124.61ZM122.862 115.16H125.668V113.241H117.799V115.16H120.556V124.61H122.862V115.16ZM114.67 64.3156L125.297 101.824H137.23L120.315 46.4805H109.252L92.175 101.824H104.253L114.67 64.3156ZM55.6179 115.741C55.9081 115.257 56.3597 115.015 56.9725 115.015H56.9886C57.6014 115.015 58.0529 115.257 58.3431 115.757C58.6334 116.257 58.7785 117.015 58.7785 118.047V120.014C58.7624 120.982 58.6173 121.691 58.327 122.159C58.0367 122.626 57.6014 122.852 56.9886 122.852C56.3758 122.852 55.9243 122.61 55.6179 122.143C55.3115 121.675 55.1664 120.949 55.1664 119.949V117.934C55.1825 116.95 55.3276 116.224 55.6179 115.741Z"
                fill="white"></path>
            </svg>
          </div>
          <div>
            <p class="text-white text-xl font-medium mb-1">Via Movement</p>
            <a
              href="https://via-movement.de"
              target="_blank"
              rel="noopener"
              class="text-[var(--tp-grey-2)] hover:text-white transition-colors text-lg"
            >
              via-movement.de
            </a>
          </div>
        </div>

        <!-- Gemeinsam für Berlin Partner -->
        <div class="flex items-center">
          <div
            class="bg-white/5 p-6 rounded mr-6 w-24 h-24 flex items-center justify-center"
          >
            <img
              src="https://gfberlin.de/wp-content/uploads/GfB-LogoV-weiss-1024x327.png"
              alt="Gemeinsam für Berlin"
              class="w-full h-full object-contain"
            />
          </div>
          <div>
            <p class="text-white text-xl font-medium mb-1">
              Gemeinsam für Berlin
            </p>
            <a
              href="https://gfberlin.de"
              target="_blank"
              rel="noopener"
              class="text-[var(--tp-grey-2)] hover:text-white transition-colors text-lg"
            >
              gfberlin.de
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Bottom Section with Contact Info -->
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-8 gap-y-12"
    >
      <!-- Contact Information -->
      <div>
        <h3 class="text-white text-lg font-bold mb-8 font-manrope">Kontakt</h3>

        <div class="space-y-6">
          <div class="flex items-start">
            <div class="text-[var(--color-secondary)] mr-4 mt-1">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z"
                  clip-rule="evenodd"></path>
              </svg>
            </div>
            <div class="text-[var(--tp-grey-2)]">
              <p class="text-white mb-1">GeTu Prospects e.V.</p>
              <div>
                <p>Lange Enden 29</p>
                <p>Aufgang 2, 2. Etage (Raum 2.05)</p>
                <p>13437 Berlin</p>
              </div>
            </div>
          </div>

          <div class="flex items-start">
            <div class="text-[var(--color-secondary)] mr-4 mt-1">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"
                ></path>
                <path
                  d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"
                ></path>
              </svg>
            </div>
            <div class="text-[var(--tp-grey-2)]">
              <a
                href="mailto:info@getu-prospects.de"
                class="hover:text-white transition-colors"
                >info@getu-prospects.de</a
              >
            </div>
          </div>

          <div class="flex items-start">
            <div class="text-[var(--color-secondary)] mr-4 mt-1">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z"
                ></path>
              </svg>
            </div>
            <div class="text-[var(--tp-grey-2)]">
              <a
                href="tel:+4901752385285"
                class="hover:text-white transition-colors">+49 (0) 1724328326</a
              >
            </div>
          </div>
        </div>
      </div>

      <!-- Bank Account Information -->
      <div>
        <h3 class="text-white text-lg font-bold mb-8 font-manrope">
          Spendenkonto
        </h3>

        <div class="space-y-4 text-[var(--tp-grey-2)]">
          <p>GeTu Prospects e.V.</p>
          <p>Postbank</p>
          <p class="mt-4">IBAN: DE94100100100064071143</p>
        </div>
      </div>

      <!-- Quick Links -->
      <div>
        <h3 class="text-white text-lg font-bold mb-8 font-manrope">Links</h3>

        <div class="space-y-4">
          <p>
            <a
              href="/ueber-uns"
              class="text-[var(--tp-grey-2)] hover:text-white transition-colors"
              >Über uns</a
            >
          </p>
          <p>
            <a
              href="/projekte"
              class="text-[var(--tp-grey-2)] hover:text-white transition-colors"
              >Projekte</a
            >
          </p>
          <!-- <p>
            <a
              href="#"
              class="text-[var(--tp-grey-2)] hover:text-white transition-colors"
              >Spenden</a
            >
          </p> -->
          <p>
            <a
              href="/kontakt"
              class="text-[var(--tp-grey-2)] hover:text-white transition-colors"
              >Kontakt</a
            >
          </p>
        </div>
      </div>
    </div>

    <!-- Copyright Bar -->
    <div
      class="mt-20 pt-8 border-t border-[var(--tp-border-1)] flex flex-col md:flex-row justify-between items-center"
    >
      <p class="text-[var(--tp-grey-2)] text-sm mb-4 md:mb-0">
        © <span id="copyright-year">2025</span> GeTu Prospects e.V.
      </p>

      <div class="flex space-x-6">
        <a
          href="/datenschutz"
          class="text-[var(--tp-grey-2)] hover:text-white transition-colors text-sm"
          >Datenschutz</a
        >
        <a
          href="/impressum"
          class="text-[var(--tp-grey-2)] hover:text-white transition-colors text-sm"
          >Impressum</a
        >
      </div>
    </div>
  </div>
</footer>
<script>
  document.getElementById('copyright-year')!.innerHTML =
    `${new Date().getFullYear()}`;
</script>
