---
import { getRelativeLocaleUrl } from 'astro:i18n';
import Container from './Container.astro';
import Cta from './Cta.astro';
import CtaBg from '../assets/images/cta-bg-3.jpg';
import CtaIcon from '../assets/images/cta-icon.png';
import { getLangFromLocale, useTranslations } from '../i18n';

const lang = getLangFromLocale(Astro.currentLocale);
const t = useTranslations(lang);
---

<section class="relative md:h-[200px] w-full">
  <img
    src={CtaBg.src}
    alt=""
    class="absolute -z-50 w-full h-full object-fill"
  />
  <Container
    class="h-full md:text-3xl font-bold z-100 flex flex-col md:flex-row items-center justify-center md:justify-between gap-6"
  >
    <img src={CtaIcon.src} alt="" class="size-10" />
    <h2
      class="text-center md:text-left text-emerald-900 font-bold md:max-w-xl leading-normal tracking-tight"
    >
      Engagieren Sie sich als Freiwilliger für eine gemeinsame, strahlende
      Zukunft!
    </h2>
    <div class="md:flex-1 align-right flex md:justify-end items-center">
      <Cta href={getRelativeLocaleUrl(lang, '/kontakt')} class="text-lg"
        >Jetzt Beitreten</Cta
      >
    </div>
  </Container>
</section>
