---
import { getRelativeLocaleUrl } from 'astro:i18n';
import fernsehtum from '../assets/images/main-hero/1.jpg';
import { getLangFromLocale, useTranslations } from '../i18n';
import Container from './Container.astro';
import Cta from './Cta.astro';

const lang = getLangFromLocale(Astro.currentLocale);
const t = useTranslations(lang);
---

<section class="relative min-h-[95vh] lg:min-h-[80vh] text-white">
  <div class="absolute inset-0 -z-100">
    <img
      src={fernsehtum.src}
      alt=""
      class="w-full h-full object-cover brightness-50"
    />
    <Container
      class="z-10 absolute inset-0 flex flex-col justify-center items-center text-center space-y-8"
    >
      <p
        class="text-lg lg:text-xl tracking-wider uppercase text-secondary font-medium"
      >
        GeTu Prospects e.V.
      </p>
      <h1
        class="animate-fade-up flex flex-col gap-y-4 items-center justify-center"
      >
        <span
          class="text-3xl md:text-7xl font-extrabold tracking-tight leading-tight"
          >{t('hero.title')}</span
        >
        <span class="text-3xl md:text-5xl font-bold text-white tracking-normal">
          {t('hero.subtitle')}
        </span>
      </h1>
      <p
        class="text-center max-w-2xl md:text-xl leading-relaxed tracking-wide font-extralight text-white mx-auto"
      >
        {t('hero.tagline')}
      </p>
      <div class="mt-12 flex flex-col md:flex-row gap-4">
        <Cta
          href={getRelativeLocaleUrl(lang, '/ueber-uns#vision')}
          class="hover:transform hover:scale-105 transition-transform"
        >
          {t('hero.cta-text')}
        </Cta>

        <Cta
          class=""
          href={getRelativeLocaleUrl(lang, '/kontakt')}
          type="outline">Mitmachen</Cta
        >
      </div>
    </Container>
  </div>
</section>
