---
import Container from './Container.astro';
interface Props {
  section?: string;
  subSection?: string;
}

const { section, subSection } = Astro.props;
---

<section
  class="bg-gradient-to-r from-emerald-950 to-[#1e3737] text-white py-40"
>
  <Container class="">
    <div class="flex flex-col items-start gap-4">
      {
        section && (
          <div class="bg-[rgba(255,255,255,0.078)] text-gray-100 tracking-wide flex py-2 px-4">
            <h3>{section}</h3>
          </div>
        )
      }
      {
        subSection && (
          <div>
            <h1 class="text-white text-4xl md:text-5xl lg:text-6xl font-bold">
              {subSection}
            </h1>
          </div>
        )
      }
    </div>
  </Container>
</section>
